<div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="card" width="100%">
          <img src="./assets/mym2.jpeg" class="card-img-top" width="100%">
            <div class="card-body">
              <h5 class="card-title">M & M Steel</h5>
              <p class="card-text">Bienvenidos a la construcción en Seco<br/>
              Dónde construimos su sueño en Acero</p>
            </div>
        </div>
      </div>
    </div>
</div>


<ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
  <ngb-panel title="Rapidez De Construcción​" id="config-panel-one">
    <ng-template ngbPanelContent>
        A iguales recursos, el sistema de construcción en seco permite construir en una tercera parte del tiempo. Es decir, construir con Steel Framing es 3 veces más rápido que realizar una construcción tradicional.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Durabilidad​">
    <ng-template ngbPanelContent>
        Los perfiles galvanizados Steel Framing garantizan una construcción de igual o aún mayor vida útil que la construcción tradicional húmeda. Según los últimos estudios realizados, se asegura una duración mínima de 300 años.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Limpieza">
    <ng-template ngbPanelContent>
        No deja escombros ni polvo. Evita la humedad por capilaridad y las filtraciones por grietas. Las instalaciones se colocan por aberturas existentes en los perfiles, evitando la perforación de paredes.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Construcción Sustentable">
    <ng-template ngbPanelContent>
        Permite reducir la huella de carbono un 25% en comparación con la construcción tradicional húmeda. Su capacidad de aislar el frío y el calor contribuye a la eficiencia energética y hace la estructura apta para todo tipo de clima.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Flexibilidad De Diseño​">
    <ng-template ngbPanelContent>
      No existen restricciones, permite construir todo tipo de proyectos: viviendas, fachadas, edificios comerciales, etc. y puede emplearse en interacción con otros elementos de una misma estructura, admite todo tipo de revestimiento.    </ng-template>
  </ngb-panel>
  <ngb-panel title="Ahorro Energético">
    <ng-template ngbPanelContent>
      Por su mayor aislación térmica, este tipo de construcción permite ahorrar hasta un 40% de energía destinada a la climatización. Brinda mayor superficie útil con mejor aislación térmica, hidráulica y comportamiento acústico    </ng-template>
  </ngb-panel>
  <ngb-panel title="Mantenimiento">
    <ng-template ngbPanelContent>
      Conlleva reparaciones limpias, sin desperdicios y rápidas. Este es uno de los beneficios más importantes al construir con este sistema, porque podrás realizar reparaciones solo de la parte afectada.    </ng-template>
  </ngb-panel>
  <ngb-panel title="Facilidad De Ejecución">
    <ng-template ngbPanelContent>
      No requiere equipos ni maquinarias pesadas para su instalación, ya que el bajo peso de sus componentes permite la manipulación humana. Acepta y facilita la realización de futuras ampliaciones o reformas en construcciones ya existentes    </ng-template>
  </ngb-panel>
  <ngb-panel title="Aislación Y Confort">
    <ng-template ngbPanelContent>
      Brinda 2,5 veces más resistencia térmica una pared de Steel Framing de 10 cm con lana de vidrio que una de ma mpostería de ladrillo común de 15 cm. Brinda mayor superficie útil con mejor aislación térmica, hidráulica y comportamiento acústico</ng-template>
  </ngb-panel>
  <ngb-panel title="Reciclabilidad">
    <ng-template ngbPanelContent>
      Los perfiles Steel Framing están compuesto de acero galvanizado, el cual es 100 % reciclable y reutilizable. El mundo se mantiene en constante cambio y debemos actualizarnos, con sistemas más amigables. </ng-template>
  </ngb-panel>

</ngb-accordion>

