
<div class="container contacto">

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="email" class="form-control" id="nombre">
  </div>
  <div class="mb-3">
    <label for="celular" class="form-label">Celular</label>
    <input type="email" class="form-control" id="celular">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="consulta" class="form-label">Consulta</label>
    <textarea class="form-control" id="consulta" rows="3"></textarea>
  </div>
  <div class="mb-3">
  <button class= "btn btn-secondary" type="submit"> Enviar</button>
  </div>

</div>