<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyM Steel</a>
    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isShown = !isShown" [attr.aria-expanded]="isShown"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent" >
      <a class="nav-link active" aria-current="page" (click)="isShown = false"  [routerLink]="['']"  id="menu">Home</a>
      <a class="nav-link" (click)="isShown = false" [routerLink]="['somos']"  id="menu">Quienes Somos</a>
      <a class="nav-link" (click)="isShown = false" [routerLink]="['trabajos']"  id="menu">Trabajos</a>
    </div>
</nav>
