<div id="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col"><img src="./assets/instagram.png">
                <p>Instagram</p>
            </div>
            <div class="col"><img src="./assets/mail.png">
                
                <p>Mail</p>
            </div>
            <div class="col"><img src="./assets/celular.png">
                <p>Celular</p>
            </div>
            <div class="col"><img src="./assets/facebook.png"> 
                <p>Facebook</p>
            </div>
        </div>
    </div>
</div>