<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
              <ngb-carousel >
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/casa/casa1.jpeg" width="100%">
                  </div>
                  <div class="carousel-caption">    
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/casa/casa2.jpeg" width="100%">
                  </div>
                  <div class="carousel-caption">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="./assets/casa/casa4.jpeg" width="100%" >
                  </div>
                  <div class="carousel-caption">
                  </div>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="./assets/casa/casa3.jpeg" width="100%" >
                    </div>
                    <div class="carousel-caption">
                    </div>                   
                  </ng-template>     
                </ng-template>
              </ngb-carousel>     
            <div class="card-body">
              <h5 class="card-title">Casa - Planta Alta - Sistema Steel Framing</h5>
             <!-- <a href="#" class="btn btn-secondary">Ver Fotos</a> -->              
            </div>
        </div>
      </div>
    </div>
</div> <br/>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card">
            <ngb-carousel >
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/habitacion/habitacion1.jpeg" width="100%">
                </div>
                <div class="carousel-caption">    
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/habitacion/habitacion2.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/habitacion/habitacion3.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/habitacion/habitacion4.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/habitacion/habitacion5.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>     
          <div class="card-body">
            <h5 class="card-title"> Casa - Planta Baja - Sistema Steel Framing</h5>
           <!-- <a href="#" class="btn btn-secondary">Ver Fotos</a> -->              
          </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
            <ngb-carousel >
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho1.jpeg" width="100%">
                </div>
                <div class="carousel-caption">    
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho4.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho3.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>     
          <div class="card-body">
            <h5 class="card-title">-----</h5>
            <a href="#" class="btn btn-secondary">Ver Fotos</a>               
          </div>
      </div>
    </div>-->   
  </div>
</div><br/>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card">
            <ngb-carousel >
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho0.jpeg" width="100%">
                </div>
                <div class="carousel-caption">    
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho4.jpeg" width="100%">
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho3.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho2.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho1.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho5.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="./assets/quincho/quincho6.jpeg" width="100%" >
                </div>
                <div class="carousel-caption">
                </div>
              </ng-template>
            </ngb-carousel>     
          <div class="card-body">
            <h5 class="card-title">Qincho Cerrado - Sistema Steel Framing</h5>
           <!-- <a href="#" class="btn btn-secondary">Ver Fotos</a> -->              
          </div>
      </div>
    </div> 
  </div>
</div>
