body{
    background-color: rgb(107, 107, 107);
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin-bottom: 10px;
}

button.accordion-button.collapsed {
    background-color: black;
    opacity: 0.6;
    color: white;
   
}

.accordion-body {
    background-color: black;
    opacity: 0.6;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: black;
    opacity: 0.4;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}